/*.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
*/
/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: #5BACD7;
}

/* Everything but the jumbotron gets side spacing for mobile first views *//*
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}
*/
/* Custom page header *//*
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
*/

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  background:  #456990;
  width:100vw;
  margin-top:150px;
  margin-bottom:-60px;
  padding-top:40px;
  padding-bottom:20px;

/*  border-top: .05rem solid #e5e5e5; */
}
.sources{
  margin-left:50px;
  color:white;
  font-family: 'Aldrich', sans-serif;
  font-size:24px;

}
.sources:hover{
  color:#FCA06F;
  text-decoration: none;
}
.wiki{
  font-size:8px;
  font-weight: lighter;

}
a.active.focus, a.active:focus, a.focus, a:active.focus, a:active:focus, a:focus {
    color:#FCA06F;
    text-decoration: none;
}
#cc-icon{
  float:right;
  background:  #456990;
  margin-right:50px;
}
/* Customize container */
@media (min-width: 48em) {
/*  .container {
    max-width: 46rem;
  } */
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background: none;
  color: white;
  font-family: 'Aldrich', sans-serif;
  height:100vh;
  padding-top: 15%;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
  background:#FCA06F;
  margin-top:60px;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
    color:white;
}
.jumbotron .btn:hover{
  padding: 20px 40px 20px 40px;
}
.lead{
  padding-top:1%;
}
/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
